/* CUSTOM STYLES */
body{
    margin-top: 2rem;
}

.custom-light-blue{
    color:#1e88e5;
}

.custom-color-twitter{
    background-color: #1dcaff;
}

.custom-color-linkedin{
    background-color: #0077B5;
}

.flex-grow-2{
    flex-grow: 2;
}

.font-size-small{
    font-size: small;
}

.font-size-medium{
    font-size: medium;
}

.font-size-large{
    font-size: large;
}

.text-no-transform{
    text-transform: none;
}

.navbar-nav .nav-link {
    padding-left: 0.5rem !important;
}

#about{
    height: 1vh;
}

#img-profile-pic {
    border-radius: 50%;
    border: 5px double black;
}

#social-links{
    margin-top: 1.5rem;   
}

#social-links div{
    margin-left: .5rem;
    margin-right: .5rem;
}

#social-links div button{
    border-radius: .3rem;
    min-width:11rem;
    min-height: 2.8rem;
}

@media only screen and (max-width: 759px) {
    #horizontal-line{
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 550px) {
    
    #img-profile-container{
        padding-left: 0 !important;
        padding-bottom: 3rem !important; 
    }

    #horizontal-line{
        margin: 0 !important;
    }

    #text-name-header-container{
        padding-right: 0 !important;
    }

    #text-name-header, #text-details-container{
        flex-direction: column !important;
        align-content: center !important;
        justify-content: center !important;       
    }

    #text-name-header>div>h3{
       margin:0 !important;   
    }

    #text-details-container span{
        margin:0 !important;
    } 
}

@media only screen and (max-width: 421px) {

    #social-links div button{
        border-radius: .3rem;
        min-width: 15rem;
        min-height: 2.8rem;
    }       
}